/.vscode
/class_merged_two_sorted_list.py
/Gautam XI-S1.py
/GTSPythonClassNotes.py
/merge_two_sorted_list.py
/Practical File CS.py
/String,List,Dictionary,Tuple and Patterns.py
/text_file.py
/turtle_1.py